@import './singlePage/_nav';
@import './singlePage/_default';
@import './singlePage/_profileHead';
@import './singlePage/_about';
@import './singlePage/_technologies';
@import './singlePage/_project';
@import './singlePage/_skills';
@import './singlePage/_forms';
@media only screen and (max-width:480px) {
    .wrap {
        width: 90% !important;
    }
    .humburger {
        display: block;
    }
    .nav-list {
        display: none;
    }
    .profile-img {
        display: none;
    }
    .profile-head {
        height: 70vh;
    }
    .profile-title h1 {
        font-size: 30px !important;
    }
    .about-pin .row {
        flex-direction: column;
    }
    .tech-card {
        flex-direction: column;
    }
    .prod-main {
        flex-direction: column;
        justify-content: center !important;
        .card {
            margin: 20px 0px;
        }
    }
    .skill-card {
        flex-direction: column;
        flex-basis: 90%;
    }
    .skills .undraw img {
        width: 60%;
        transform: translateX(110%)
    }
    .form-head .form-title {
        height: 100%;
    }
    .form-data {
        padding: 0px !important;
    }
    .content-creation,
    .creative-design,
    .brand-creation {
        display: none;
    }
}

@media only screen and (max-width:760px) {
    .profile-img {
        display: none;
    }
    .about-pin .row {
        flex-direction: column;
    }
    .tech-card {
        flex-direction: column;
    }
}