<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="../public/css/main.css">
</head>
<body>
    <nav>
        <div class="wrap">
            <div class="nav-start">
                <div class="logo"><img src="" alt="k.d logo"></div>
                <div class="nav-list">
                    <ul>
                        <li><a href="#" id="#">home</a></li>
                        <li><a href="#" id="#">about</a></li>
                        <li><a href="#" id="#">services</a></li>
                        <li><a href="#" id="#">works</a></li>
                        <li><a href="#" id="#">contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="humburger"><span>=</span></div>
        </div>
    </nav>
    <section class="profile-head">
        <div class="wrap">
            <div class="profile-title">
                <h1>dzineku <br>king david</h1>
                <p class="intro">Base in Ghana, I'm a software Developer <br>& UI / UX Designer</p>
                <a href="#">contact me</a>
                <p class="social">
                    <span>fb</span>
                    <span>tw</span>
                    <span>db</span>
                    <span>gt</span>
                </p>
            </div>
            <div class="profile-img">
                <img src="../public/images/person_4.jpg" alt="me">
            </div>
        </div>
    </section>
    
</body>
</html>