header {
  background: linear-gradient(#000004 10.35%, #0A0D1E 100%);
  background-size: cover;
}

nav {
  width: 100%;
  border-bottom: 2px solid #09080D;
  position: relative;
}
nav .wrap {
  width: 70%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
nav .wrap .nav-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
nav .wrap .nav-start .logo img {
  width: 40px;
}
nav .wrap .nav-start .nav-list {
  color: white;
}
nav .wrap .nav-start .nav-list ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  text-transform: capitalize;
}
nav .wrap .nav-start .nav-list ul li {
  list-style: none;
}
nav .wrap .nav-start .nav-list ul li a {
  text-decoration: none;
  color: #C3C3C3;
}
nav .humburger {
  display: block;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #05040A;
  padding: 10px 25px;
  color: #EA694D;
}

@font-face {
  src: url("../fonts/RobotoSlab-VariableFont_wght.ttf");
  font-family: Ibm;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-size: 13px;
  font-family: Ibm;
  background-color: #090D1F;
}

.wrap {
  width: 70%;
  margin: auto;
  position: relative;
}

.h3-head {
  font-size: 17px;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  background: #090B1B;
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0px 0px 8px #090B1B;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(125deg, #A255F0, #4385F4);
  border-radius: 8px;
}

@font-face {
  src: url("../fonts/Orbitron-VariableFont_wght.ttf");
  font-family: Oswald;
}
.profile-head {
  height: 90vh;
  width: 100%;
  background: url("../images/boxes.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.profile-head .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.profile-head .wrap .profile-title p {
  margin: 25px 0px;
}
.profile-head .wrap .profile-title h1 {
  font-family: Oswald;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.profile-head .wrap .profile-title .intro {
  font-size: 17px;
  line-height: 27px;
  color: #C3C3C3;
}
.profile-head .wrap .profile-title a {
  text-decoration: none;
  color: #fff;
  background: #5145F8;
  padding: 10px 15px;
  border-radius: 5px;
  text-transform: capitalize;
}
.profile-head .wrap .profile-title .social {
  text-transform: uppercase;
  padding: 10px 20px 0px 0px;
  font-weight: bold;
}
.profile-head .wrap .profile-img {
  border-radius: 50%;
  overflow: hidden;
  width: 340px;
  height: 340px;
  position: relative;
  right: 100px;
}
.profile-head .wrap .profile-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.about {
  width: 100%;
  min-height: 90vh;
  background: #0A0D1E;
  margin: auto;
}
.about .wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 100%;
}
.about .wrap .about-pin {
  width: 100%;
  height: 100%;
}
.about .wrap .about-pin .title {
  color: #EA694D;
  margin-bottom: 40px;
  font-size: 17px;
  text-transform: capitalize;
  position: relative;
}
.about .wrap .about-pin .title::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #EA694D;
  left: 100px;
  top: 50%;
}
.about .wrap .about-pin .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}
.about .wrap .about-pin .row .about-detail {
  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 40%;
}
.about .wrap .about-pin .row .about-detail .card {
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 25px;
  box-shadow: 0px 3px 5px 5px rgba(9, 8, 13, 0.32);
}
.about .wrap .about-pin .row .about-detail .card h3 {
  color: #9D52E9;
  margin-bottom: 10px;
}
.about .wrap .about-pin .row .about-panel-2 {
  flex-basis: 40%;
}
.about .wrap .about-pin .row .about-panel-2 h3 {
  color: #9D52E9;
  font-size: 17px;
}
.about .wrap .about-pin .row .about-panel-2 a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 15px 0px;
  text-transform: capitalize;
}
.about .wrap .about-pin .row .about-panel-2 a:hover {
  background: #9D52E9;
  border: none;
}
.about .wrap .about-pin .row .about-panel-2 p {
  margin: 40px 0px;
}

.tech {
  background: url("../images/serviceBac.jpg");
  background-size: cover;
  min-height: 80%;
}
.tech .wrap {
  display: flex;
  align-items: center;
  height: 100%;
}
.tech .wrap .tech-main {
  width: 100%;
}
.tech .wrap .tech-main .tech-head {
  margin-bottom: 50px;
}
.tech .wrap .tech-main .tech-head h3 {
  color: #9D52E9;
  margin-bottom: 10px;
}
.tech .wrap .tech-main .tech-card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
}
.tech .wrap .tech-main .tech-card h3 {
  color: #EA694D;
  margin-bottom: 15px;
  text-transform: capitalize;
}
.tech .wrap .tech-main .tech-card .card {
  flex-basis: 24%;
  background-color: rgba(9, 13, 31, 0.6);
  height: 200px;
  padding-top: 40px;
  border-radius: 10px;
}

.project {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background: url("../images/projectBacl.png");
}
.project .wrap .prod-main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 90px;
}
.project .wrap .prod-main .card {
  flex-basis: 44%;
  position: relative;
}
.project .wrap .prod-main .card:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.05);
  transition: width 0.3s ease;
}
.project .wrap .prod-main .card:hover::before {
  width: 100%;
}
.project .wrap .prod-main .card h3 {
  color: #9D52E9;
}
.project .wrap .prod-main .shift {
  transform: translateY(60px);
}
.project .wrap .prod-main .unshift {
  transform: translateY(-60px);
}

.skills {
  min-height: 90vh;
}
.skills .wrap .skill-main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20%;
}
.skills .wrap .skill-main .skill-head {
  color: #9D52E9;
  margin-bottom: 10px;
  font-size: 17px;
}
.skills .wrap .skill-main .brand-creation {
  margin: 10px 0px;
  height: 5px;
  width: 70%;
  background: #09080D;
  border-radius: 10px;
  position: relative;
}
.skills .wrap .skill-main .brand-creation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  border-radius: 10px;
  background: linear-gradient(89.71deg, #A255F0 -3.14%, #4385F4 48.3%);
}
.skills .wrap .skill-main .frontend {
  margin: 10px 0px;
  height: 5px;
  width: 70%;
  background: #09080D;
  border-radius: 10px;
  position: relative;
}
.skills .wrap .skill-main .frontend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: inherit;
  border-radius: 10px;
  background: linear-gradient(89.71deg, #A255F0 -3.14%, #4385F4 48.3%);
}
.skills .wrap .skill-main .creative-design {
  margin: 10px 0px;
  height: 5px;
  width: 70%;
  background: #09080D;
  border-radius: 10px;
  position: relative;
}
.skills .wrap .skill-main .creative-design::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 92%;
  height: inherit;
  border-radius: 10px;
  background: linear-gradient(89.71deg, #A255F0 -3.14%, #4385F4 48.3%);
}
.skills .wrap .skill-main .backend {
  margin: 10px 0px;
  height: 5px;
  width: 70%;
  background: #09080D;
  border-radius: 10px;
  position: relative;
}
.skills .wrap .skill-main .backend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  height: inherit;
  border-radius: 10px;
  background: linear-gradient(89.71deg, #A255F0 -3.14%, #4385F4 48.3%);
}
.skills .wrap .skill-main .content-creation {
  margin: 10px 0px;
  height: 5px;
  width: 70%;
  background: #09080D;
  border-radius: 10px;
  position: relative;
}
.skills .wrap .skill-main .content-creation::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  border-radius: 10px;
  background: linear-gradient(89.71deg, #A255F0 -3.14%, #4385F4 48.3%);
}
.skills .wrap .skill-main .mobile {
  margin: 10px 0px;
  height: 5px;
  width: 70%;
  background: #09080D;
  border-radius: 10px;
  position: relative;
}
.skills .wrap .skill-main .mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: inherit;
  border-radius: 10px;
  background: linear-gradient(89.71deg, #A255F0 -3.14%, #4385F4 48.3%);
}
.skills .wrap .skill-main .ui-ux {
  margin: 10px 0px;
  height: 5px;
  width: 70%;
  background: #09080D;
  border-radius: 10px;
  position: relative;
}
.skills .wrap .skill-main .ui-ux::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: inherit;
  border-radius: 10px;
  background: linear-gradient(89.71deg, #A255F0 -3.14%, #4385F4 48.3%);
}

.undraw {
  position: absolute;
  bottom: 0;
  left: 45%;
  transform: translate(-50%, 0%);
}
.undraw img {
  width: 80%;
}

.skill-card {
  flex-basis: 40%;
  margin: 22px auto;
  margin-bottom: 7px;
}
.skill-card .techs {
  color: #EA694D;
}

@font-face {
  src: url("../fonts/Orbitron-VariableFont_wght.ttf");
  font-family: Oswald;
}
.forms {
  background: url("../images/formbac.png");
  background-size: cover;
  z-index: -1;
}
.forms .wrap .form-head {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.forms .wrap .form-head .form {
  height: 80%;
  flex-basis: 30%;
}
.forms .wrap .form-head .form .form-data {
  background: rgba(9, 13, 31, 0.5);
  padding: 40px 40px;
  border-radius: 10px;
}
.forms .wrap .form-head .form .form-data .form-input {
  width: 50%;
}
.forms .wrap .form-head .form .form-data div {
  margin: 20px 0px;
  position: relative;
}
.forms .wrap .form-head .form .form-data div label input {
  height: 30px;
  width: 100%;
  background: none;
  border: 1px solid #9D52E9;
  border-radius: 5px;
  color: #f3f3f3;
  padding-left: 5px;
  font-family: Oswald;
}
.forms .wrap .form-head .form .form-data div label textarea {
  background: none;
  border: 1px solid #9D52E9;
  color: #f3f3f3;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 5px;
  padding-top: 10px;
  font-family: Oswald;
  letter-spacing: 2px;
  color: #f9f9f9;
  font-size: 12px;
}
.forms .wrap .form-head .form .form-data div input {
  margin-top: 10px;
  letter-spacing: 2px;
  color: #f9f9f9;
  font-size: 12px;
}
.forms .wrap .form-head .form .form-data div input[type=text]:focus {
  border: 2px solid #9D52E9;
}

.send {
  text-decoration: none;
  color: #f9f9f9;
  background: #4385F4;
  padding: 10px 20px;
  position: absolute;
  border-radius: 5px;
}

@media only screen and (max-width: 480px) {
  .wrap {
    width: 90% !important;
  }

  .humburger {
    display: block;
  }

  .nav-list {
    display: none;
  }

  .profile-img {
    display: none;
  }

  .profile-head {
    height: 80vh;
  }

  .profile-title h1 {
    font-size: 30px !important;
  }

  .about {
    height: 30vh !important;
  }

  .about-pin .row {
    flex-direction: column;
  }

  .tech-card {
    flex-direction: column;
  }

  .prod-main {
    flex-direction: column;
    justify-content: center !important;
  }
  .prod-main .card {
    margin: 20px 0px;
  }

  .skill-card {
    flex-direction: column;
    flex-basis: 90%;
  }

  .skills .undraw {
    display: none;
  }

  .form-head .form-title {
    height: 100%;
  }

  .form-data {
    padding: 0px !important;
  }

  .content-creation-div,
.creative-design-div,
.brand-creation-div {
    display: none;
  }

  .about-p {
    display: none;
  }
}
@media only screen and (max-width: 760px) {
  .profile-img {
    display: none;
  }

  .about-pin .row {
    flex-direction: column;
  }

  .tech-card {
    flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */