@font-face {
    src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
    font-family: Ibm;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background: #090B1B;
    color: #fff;
    font-size: 13px;
    font-family: Ibm;
    background-color: #090D1F;
}

.wrap {
    width: 70%;
    height: 100%;
    margin: auto;
    position: relative;
}

.h3-head {
    font-size: 17px;
}

::-webkit-scrollbar {
    background: #090B1B;
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 8px #090B1B;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(125deg, #A255F0, #4385F4);
    border-radius: 8px;
}