@font-face {
    src: url('../fonts/RobotoSlab-VariableFont_wght.ttf');
    font-family: Ibm;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    // background: #090B1B;
    color: #fff;
    font-size: 13px;
    font-family: Ibm;
}

.wrap {
    width: 70%;
    height: 100%;
    margin: auto;
}