*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #090B1B;
    color:#fff;
    font-size: 13px;
    
}

.wrap{
    width: 70%;
    margin: auto;
}