@import 'variables';
header {
    background: linear-gradient( #000004 10.35%, #0A0D1E 100%);
    // background: url('../images/Background.jpg');
    background-size: cover;
}

nav {
    width: 100%;
    border-bottom: 2px solid #09080D;
    position: relative;
    .wrap {
        width: 70%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        .nav-start {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            .logo {
                img {
                    width: 40px;
                }
            }
            .nav-list {
                color: white;
                ul {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 400px;
                    text-transform: capitalize;
                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: $nav-color;
                        }
                    }
                }
            }
        }
    }
    .humburger {
        display: block;
        font-size: 30px;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: #05040A;
        padding: 10px 25px;
        color: #EA694D;
    }
}